@model ProductInfoViewModel

@{
    ViewData["Title"] = "ProductDetails";
    ViewData["PageName"] = "ProductDetails";
}

@{
    var FolderPath = "/Images/";
    var BigPhotoPath = FolderPath + @Model.product.ProductImage.First().FileName;
    var discountPrice = Model.product.Price - Model.product.Price * Model.product.Discount / 100;
}
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home</a>
                    <a>Shop</a>
                    <span>Detail</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-none d-md-block">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Kids</a></li>
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-calvin">
                                Calvin Klein
                                <input type="checkbox" id="bc-calvin">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-diesel">
                                Diesel
                                <input type="checkbox" id="bc-diesel">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-polo">
                                Polo
                                <input type="checkbox" id="bc-polo">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="bc-item">
                            <label for="bc-tommy">
                                Tommy Hilfiger
                                <input type="checkbox" id="bc-tommy">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Price</h4>
                    <div class="filter-range-wrap">
                        <div class="range-slider">
                            <div class="price-input">
                                <input type="text" id="minamount">
                                <input type="text" id="maxamount">
                            </div>
                        </div>
                        <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                             data-min="33" data-max="98">
                            <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                        </div>
                    </div>
                    <a href="#" class="filter-btn">Filter</a>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Color</h4>
                    <div class="fw-color-choose">
                        <div class="cs-item">
                            <input type="radio" id="cs-black">
                            <label class="cs-black" for="cs-black">Black</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-violet">
                            <label class="cs-violet" for="cs-violet">Violet</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-blue">
                            <label class="cs-blue" for="cs-blue">Blue</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-yellow">
                            <label class="cs-yellow" for="cs-yellow">Yellow</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-red">
                            <label class="cs-red" for="cs-red">Red</label>
                        </div>
                        <div class="cs-item">
                            <input type="radio" id="cs-green">
                            <label class="cs-green" for="cs-green">Green</label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Size</h4>
                    <div class="fw-size-choose">
                        <div class="sc-item">
                            <input type="radio" id="s-size">
                            <label for="s-size">s</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="m-size">
                            <label for="m-size">m</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="l-size">
                            <label for="l-size">l</label>
                        </div>
                        <div class="sc-item">
                            <input type="radio" id="xs-size">
                            <label for="xs-size">xs</label>
                        </div>
                    </div>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    <div class="fw-tags">
                        <a href="#">Towel</a>
                        <a href="#">Shoes</a>
                        <a href="#">Coat</a>
                        <a href="#">Dresses</a>
                        <a href="#">Trousers</a>
                        <a href="#">Men's hats</a>
                        <a href="#">Backpack</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="product-big-img" src="@BigPhotoPath" alt="">
                            <div class="zoom-icon">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                        <div class="product-thumbs">
                            <div class="product-thumbs-track ps-slider owl-carousel">

                                @for (int i = 0; i < @Model.product.ProductImage.Count; i++)
                                {
                                    var ImagePath = @FolderPath + @Model.product.ProductImage.ElementAt(i).FileName;
                                    <div class="pt active" data-imgbigurl="@ImagePath">
                                        <img src="@ImagePath" alt="">
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product-details">
                            <div class="pd-title">
                                <span>Prince Trademark</span>
                                <h3>@Model.product.ShortDescription</h3>
                                <a href="#" class="heart-icon"><i class="icon_heart_alt"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(5)</span>
                            </div>
                            <div class="pd-desc">
                                <p>
                                    @Model.product.LongDescription
                                </p>
                                <h4>₹@discountPrice.ToString("0.00") <span>@Model.product.Price</span><p style="color:red">(@Model.product.Discount % off)</p></h4>
                            </div>
                            <div class="pd-color">
                                <h6>Color</h6>
                                <div class="pd-color-choose">
                                    @for (int i = 0; i < Model.product.ProductColor.Count; i++)
                                    {

                                        <label>@Model.product.ProductColor.ElementAt(i).Color.ColorName &nbsp;</label>

                                    }

                                </div>
                            </div>
                            <div class="pd-size-choose">
                                Size:
                                <div class="sc-item">
                                    <input type="radio" id="sm-size">
                                    <label for="sm-size">@Model.product.ProductSize</label>
                                </div>

                            </div>
                            <div class="quantity">

                                <span id="AddToCartSpan">
                                    <a style="color:white" onclick="AddToCartClick(@Model.product.ProductId)" class="primary-btn pd-cart">Add To Cart</a>

                                </span>
                                <span style="display:none" id="GoToCartSpan"><a asp-action="Index" asp-controller="ShoppingCart" class="primary-btn pd-cart"> Go to Cart</a></span>
                            </div>
                            <ul class="pd-tags">
                                <li><span>CATEGORIES</span>: @Model.product.Category.CategoryName</li>
                                <li><span>TAGS</span>: @Model.product.Category.CategoryName</li>
                            </ul>
                            <div class="pd-share">
                                <div class="p-code">Sku : @Model.product.ProductName</div>
                                <div class="pd-social">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter-alt"></i></a>
                                    <a href="#"><i class="ti-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews (02)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-7">
                                            <h5>Directly from Manufacturer</h5>
                                            <p>
                                                No more bad quality. Get the best quality every time you shop from us,
                                                because we source directly from the manufacturer.
                                            </p>
                                            <h5>7 Days Return Policy</h5>
                                            <p>
                                                No Questions Asked Return, LTFab will ensure a quick,
                                                easy and seamless returns experience for you.
                                            </p>
                                            <h5>Shop with confidence!</h5>
                                            <p>
                                                Prince Digital source directly from manufacturers in offering
                                                Genuine Product at cheaper prices than your local shops.
                                            </p>
                                        </div>
                                        <div class="col-lg-5">
                                            <img src="../img/product-single/tab-desc.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <table>
                                        <tr>
                                            <td class="p-catagory">Customer Rating</td>
                                            <td>
                                                <div class="pd-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span>(5)</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Price</td>
                                            <td>
                                                <div class="p-price">₹@discountPrice.ToString("0.00")</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Discount</td>
                                            <td>
                                                <div class="cart-add">@Model.product.Discount %</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Availability</td>
                                            <td>
                                                <div class="p-stock">@Model.product.Stock In stock</div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="p-catagory">Size</td>
                                            <td>
                                                <div class="p-size">@Model.product.ProductSize</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Color</td>
                                            <td>
                                                @for (int i = 0; i < Model.product.ProductColor.Count; i++)
                                                {

                                                    <label>@Model.product.ProductColor.ElementAt(i).Color.ColorName &nbsp;</label>

                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-catagory">Product Code</td>
                                            <td>
                                                <div class="p-code">@Model.product.ProductName</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <div class="customer-review-option">
                                    <h4>2 Comments</h4>
                                    <div class="comment-option">
                                        <div class="co-item">
                                            <div class="avatar-pic">
                                                <img src="../img/product-single/avatar-1.png" alt="">
                                            </div>
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <h5>Brandon Kelley <span>27 Aug 2019</span></h5>
                                                <div class="at-reply">Nice !</div>
                                            </div>
                                        </div>
                                        <div class="co-item">
                                            <div class="avatar-pic">
                                                <img src="../img/product-single/avatar-2.png" alt="">
                                            </div>
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <h5>Roy Banks <span>27 Aug 2019</span></h5>
                                                <div class="at-reply">Nice !</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-rating">
                                        <h6>Your Ratind</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <div class="leave-comment">
                                        <h4>Leave A Comment</h4>
                                        <form action="#" class="comment-form">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Name">
                                                </div>
                                                <div class="col-lg-6">
                                                    <input type="text" placeholder="Email">
                                                </div>
                                                <div class="col-lg-12">
                                                    <textarea placeholder="Messages"></textarea>
                                                    <button type="submit" class="site-btn">Send message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="related-products spad">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Related Products</h2>
                </div>
            </div>
        </div>



        <div id="dvProductList" class="row">
            @for (int i = 0; i < Model.retaltedProductList.Count; i++)
            {
                var Imageid = @Model.retaltedProductList[i].productImage.First();

                var photoPath = "/Images/" + (Imageid.FileName ?? "noimage.jpg");


                <div class=" col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="product-item" style="box-shadow: 0px 0px 0px 1px #eee; padding: 1rem 1rem 1rem 1rem; border-radius: 4px; text-align: center;">
                        <div class="pi-pic">
                            <span class="imagename">
                                <a href="@Url.Action("ProductDetails","ProductInfo", new { Id = @Model.retaltedProductList[i].productId })">
                                    <img src="@photoPath" alt="" class="product-grid__img">
                                </a>
                            </span>
                            <div class="icon">
                                <i class="icon_heart_alt"></i>
                            </div>
                            <ul>
                                @{
                                    var product = @Model.retaltedProductList[i];
                                }
                                <span class="addTocart">
                                    <li class="w-icon active" id="cartId" onclick="liClick(@Model.retaltedProductList[i].productId)"> <a style="background: #e7ab3c; color: #ffffff;"><i class="icon_bag_alt"></i></a></li>
                                </span>

                                <li class="quick-view"><span class="quickview"><a asp-action="ProductDetails" asp-controller="ProductInfo" asp-route-id="@Model.retaltedProductList[i].productId">+ Quick View</a></span></li>
                                <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                            </ul>

                        </div>
                        <div class="pi-text">
                            <div class="catagory-name"><span class="categoryName">@Model.retaltedProductList[i].CategoryName</span></div>
                        </div>
                        <div class="boxadded">
                            <a style="text-align:center">
                                <h5><span class="shortdisc">@Model.retaltedProductList[i].shortDescription</span></h5>
                            </a>
                            @if (@Model.retaltedProductList[i].discount == 0)
                            {
                                <div class="product-price" style="font-size: 20px;font-weight: 700;color: #e7ab3c;text-align: center;">
                                    ₹ <span class="price">@Model.retaltedProductList[i].price</span>
                                </div>

                            }
                            else
                            {
                                <span class="product-grid__price" style="font-size: 20px;font-weight: 700">
                                    <strike style="color: gray">
                                        ₹<span class="price">@Model.retaltedProductList[i].price</span>
                                    </strike>&nbsp;
                                    <span style="color: #e7ab3c;">₹<span class="discountPrice">@Model.retaltedProductList[i].discountPrice.ToString("0.00")</span></span>
                                    <span style="color: gray"> (<span class="discount">@Model.retaltedProductList[i].discount</span>% off)</span>

                                </span>
                            }
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</section>
<div class="zoom d-block d-md-none" style="bottom:115px">
    <a onclick="AddToCartClick(@Model.product.ProductId)" class="zoom-fab zoom-btn-large" id="zoomBtn"><i class="fa fa-plus" style="font-size:24px; color:white"></i></a>
</div>
@section Scripts
{
    <script>
        function AddToCartClick(id) {
            liClick(id);
            $("#AddToCartSpan").html('<h5 style="color:green; padding: 10px;"> Added to Cart </h5>');
            $("#GoToCartSpan").show();
        }
    </script>
}